.card{
   border-radius: 1vw;
   margin-top: 3vh;
   font-weight: bolder;
}
.countcard{
   font-size: 1.5vw;
}
.tbodydash{
   font-size:1.3vw;
}
@media only screen and (max-width: 1000px) {
   .tbodydash{
      font-size:4vw;
   }
   .countcard{
      font-size: 4vw;
   }

}